body {
    background-image: url('rsf1.gif');
}
@keyframes toosex {
    0% {padding-left:160px;}
    60% { padding-left: 200px;}
    100% { padding left: 180px;}
}
.james {
    width: 100px;
    height: 100px;
    padding-left: 160px;
    padding-right: 170px;
    padding-top: 40px;
    animation-name:toosexy;
    animation-duration: 3s;
    
}
