body {
    background-image: url('rsf1.gif');
}
@keyframes toosexy {
    0% {left:0px;}
    60% { left: 40px;}
    100% { left: 20px;}
}
.james {
    width: 100px;
    height: 100px;
    padding-left: 165px;
    padding-right: 170px;
    padding-bottom: 185px;
    padding-top: 40px;
    animation: toosexy 3s infinite; 
    -webkit-animation: toosexy 3s infinite;
}
